*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

/* styling nav */
.img{
  height: 100px;
  width: 100px;
}
.name{
  font-size: 20px;
  color: #5F459C;
  text-transform: uppercase;
}
.logout{
  width: 100px;
  height: 40px;
  background-color: #5F459C;
  color: #fff;
  border: 1px solid #5F459C;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 18px;
}
.logout:hover{
  opacity: 0.5;
}
a{
  text-decoration: none;
}
.search{
  width: 400px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #5F459C;
  border-radius: 20px;
  padding-left: 8px;
}
.home, .faculty{
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 10px;
}
.home:hover , .faculty:hover{
  color: #5F459C;
}
.nav-left{
  display: flex;
  align-items: center;
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
li{
  margin-right: 20px;
  align-items: center;
}

/* section top */
.top{
  background-color: #5f459c10;
  padding-top: 170px;
  padding-bottom: 80px;
}

.welcome{
  font-size: 45px;
  text-transform: capitalize;
  text-align: center;
}
span{
  color: #5F459C;
}
.desc{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 40px;
}
.greet{
  text-align: center;
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dive{
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #5F459C;
  border: 1px solid #5F459C;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 18px;
}
.dive:hover{
  opacity: 0.5;
  cursor: pointer;
}
.btn{
  width: 200px;
  margin-top: 20px;
  margin: auto;
}

#service{
  padding: 100px;
}
.service{
  display: flex;
  justify-content: space-between;
}

.our{
  font-size: 45px;
  text-align: center;
  color: #5F459C;
  text-transform: capitalize;
  margin-bottom: 80px;
}
.sevice-div >img{
  width: 250px;
  height: 250px;
}
.txt{
  text-align: center;
  font-size: 18px;
  color: #6C63FF;
  text-transform: capitalize;
}
.sevice-div{
  border: 1px solid #b7b7b7;
  box-shadow: 0 0 10px 1px #b7b7b7;
  padding: 10px;
  border-radius: 10px;
}

/* styling the faculty */
.faculties{
  padding: 100px;
  padding-top: 0px;
}
.faculties-div{
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}
.facultys{
  font-size: 45px;
  text-align: center;
  color: #5F459C;
  margin-bottom: 50px;
  text-transform: capitalize;
  margin-top: 50px;
}
.fac{
  box-shadow: 0 0 10px 1px #5F459C;
  padding: 10px;
}
.fac-name{
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 18px;
  color: #5F459C;
  text-align: center;
}
.image-div{
  width:90%;
  margin:auto;
}
.image-div >img{
  width:100%;
  margin-top:20px;
  height: 170px;;
}
/* footer */
footer{
  background-color: #5F459C;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.web-name2{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.logo22{
  filter: brightness(0);
  height: 100px;
  width: 100px;
}
.fp{
  color: #fff;
}
.div2 >h3{
  color: #fff;
  text-transform: capitalize;
}
.pp{
  color: #fff;
  margin-top: 15px;
  text-transform: capitalize;
}
.foot{
  display: flex;
  align-items: center;
}
.hhh{
  color: #fff;
  text-transform: capitalize;
}
.copy{
  color: #fff;
  background-color: #5F459C;
  text-align: center;
}

.form-flex{
  display: flex;
}
.get{
  width: 100px;
  height: 40px;
  background-color:#5F459C ;
  color: #fff;
  border: 1px solid #5F459C;
}