*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 100px;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid #5F459C;
}
.background > .image{
  width: 100%;
  height: 100%;
}
.form{
  padding: 100px;
}

#username, #submit, #password, #email, #firstname, #lastname{
  width: 100%;
  height: 40px;
  border: 1px solid #5F459C;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 8px;
  text-transform: capitalize;
}

#submit{
  background-color: #5F459C;
  color: #fff;
  padding-left: 0px;
  margin-top: 10px;
}
.p{
  text-align: right;
  margin-bottom: 20px;
}
.input{
  margin-bottom: 8px;
  color: #5F459C;
  text-transform: capitalize;
}
.welcome{
  font-size: 40px;
  color: #5F459C;
  text-align: center;
  text-transform: capitalize;
}
.details{
  text-align: center;
  color: #5F459C;
  margin-bottom: 20px;
  text-transform: capitalize;
}

a{
  text-decoration: none;
}
.dont{
  text-align: center;
}
.message{
  color: red;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 20px;
  margin-bottom: 10px;
}