{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reset_password</title>
  <link rel="stylesheet" href="reset.css">

  <style>
    .btn{
      margin-top: 10px;
      width:120px;
      height: 30px;
    }
  </style>
</head>
<body>
  <main>
    <h3>Forget your password?</h3>
    <p>pls enter your valid email to get a password reset link</p>
    <form action="" method="post">
      {% csrf_token %}
      {{form}} <br>
      <input class="btn" type="submit" name="send_email">
    </form>
  </main>
</body>
</html>